/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
.wrapper{
    font-family: 'Lato', sans-serif;
}
.header{
    background-color: #222429;
    background: url(../img/bg_2.png) center center no-repeat;
    min-height: 800px;
    
}
.container{
    max-width: 1600px;
    margin: 0 auto;
}

.header__nav{
    max-width: 620px;
    margin: 0 auto;
}
.header__nav ul{
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: #4d4959;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    align-items: center;
    padding: 35px 0px 0px 0px;
}
.header__nav a{
    color: #4d4959;   
}
/* ----------------------------------------------------------------------- */
.info{
    padding: 115px 0px 70px 0px;
    background-color: #f7f7f7;
}
.info__icon{
    display: flex;
    justify-content: center;
    padding: 0px 0px 15px 0px;
}
.info__title{
    display: flex;
    justify-content: center;
    padding: 15px 0px 37.5px 0px;
}
.info__subtitle{
    max-width: 1080px;
    margin: 0 auto;
    font-family: Lato;
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
    color: #848789;
    display: flex;
    justify-content: center;
    text-align: center;
}
/* ---------------------------------------------------------------------------------- */
.block{
    padding: 0px;
    margin: 0px;
}
.content{
    display: flex;
}
.logo{
    min-height: 600px;
    max-width: 1067px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
}
.block__logo_76{
    background: url(../img/rectangle_1_54.png) left center no-repeat;
}
.block__text{
    max-width: 533px;
    margin: 0 auto;
    max-height: 600px;
    height: 100%;
    padding: 65px 0px 0px 0px;
    flex: 0 0 auto;
}
.block__text_icon{
    display: flex;
    justify-content: center;
    padding: 0px 0px 32.5px 0px;
}
.block__text_title{
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
    padding: 0px 0px 27.5px 0px;
}
.block__text_subtitle{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #848789;
    margin: 0px 0px 105px 0px;
    padding: 0px 50px 0px 50px;
    text-align: justify;
}
.block__text_img{
    background: url(../img/rectangle_1_copy_2_56.png) center center no-repeat;
    min-height: 200px;
    max-height: 200px;
    text-align: end;
}
.block__text_transparent{
    border: 6px solid transparent;
    border-top: 6px solid white;
    max-width: 13.5px;
    width: 100%;
    margin: 0 auto;
    
}
/* ------------------------------------------------------------------------------- */
.block__text_2{
    max-width: 533px;
    margin: 0 auto;
    min-height: 500px;
    max-height: 600px;
    padding: 60px 0px 0px 0px;
    height: 100%;
    overflow: hidden;
}
.block__logo_83{
    background: url(../img/rectangle_1_copy_5_61.png) left center no-repeat;
    
}
.block__text_img_59{
    background: url(../img/rectangle_1_copy_3_59.png) center center no-repeat;
    min-height: 200px;
    max-height: 200px;
    text-align: end;
}
.block__text_line{
    width: 51px;
    margin: 0 auto;
    border-top: 1px solid rgba(53,55,56,0.2);
    padding: 0px 0px 65px 0px;
}
.block__text_subtitle_2{
        display: flex;
        justify-content: center;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        color: #848789;
        padding: 0px 45px 42px 45px;
        text-align: justify;
}
/* ---------------------------------------------------------------------------------------- */
.block__logo_114{
    background: url(../img/rectangle_1_copy_6_63.png) left center no-repeat;
}
.block__text_img_65{
    background: url(../img/rectangle_1_copy_6_65.png) center center no-repeat;
    min-height: 200px;
    max-height: 200px;
    text-align: end;
}
.block__logo_none{
    background: url(../img/rectangle_1_copy_6_64.png) left center no-repeat;
}
/* ----------------------------------------------------------------------------------------- */
.info__title_york{
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #353738;
}
.info__title_35{
    font-weight: 300;
    color: #848789;
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.1em;
}
.info_2{
    padding: 115px 0px 70px 0px;
    background-color: #f7f7f7;
    max-height: 470px;
}
.info__subtitle_2{
    font-family: Lato;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px 0px 100px 0px;
}
.info__round{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin: 0 0px;
    padding: 0px 0px 65px 0px;
}
.info__round_1{
    width: 11px;
    height: 11px;
    border: 2px solid #a9afb3;
    border-radius: 50%;
    background-color: #a9afb3;
    margin: 0px 10px;
}
.info__round_2{
    width: 11px;
    height: 11px;
    border: 2px solid #a9afb3;
    border-radius: 50%;
    background-color: rgba(40,47,53,0.0);
    margin: 0px 10px;
}
.info__round_3{
    width: 11px;
    height: 11px;
    border: 2px solid #a9afb3;
    border-radius: 50%;
    background-color: rgba(40,47,53,0.0);
    margin: 0px 10px;
}